.change_planet, .next_btn, .auth
  width: 100%
  padding-top: 1rem
  padding-bottom: 1rem
  border-radius: 5px
  border: none
  background-color: #a744ea
  color: white
  font-weight: bold
  cursor: pointer

.newVisitor
  width: 100%
  padding-top: 1rem
  padding-bottom: 1rem
  border-radius: 5px
  border: 1px solid #a744ea
  background-color: #ffffff
  color: #a744ea
  cursor: pointer